<!-- your html code here -->
<!DOCTYPE html>
<html>
    <head>
        <title>Choose a website</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
    
    <div class="container">
    <div class="row">
        <div class="col">
        <h2>The First Heading <span style="color:grey;">Will Catch Your Eye</h2>
            Boy favourable day can introduced sentiments entreaties. Noisier carried of in warrant because. So mr plate seems cause chief widen first. Two differed husbands met screened his. Bed was form wife out ask draw. Wholly coming at we no enable. Offending sir delivered questions now new met. Acceptance she interested new boisterous day discretion celebrated. 
        </div>
        <div class="col">
        <div class="image">
        <img src="https://as2.ftcdn.net/jpg/02/85/93/15/500_F_285931587_ThvWyQ1vb028B0kv6lDYsdHuckMvBG1U.jpg" alt="">
        </div></div>
    </div>
    </div>
    </body>
</html>




