<!-- your html code here -->
<!DOCTYPE html>
<html>
    <head>
        <title>Choose a website</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
    
    <div class="container">
    <div class="row">
        <div class="col">
        <h2>The First Heading Will Catch Your Eye</h2>
        </div>
        <div class="col">
        <img src="https://lh3.googleusercontent.com/proxy/b8vtLQhQDgxI-XpLo4WJNOwvMSXa5l_jq4fn1fe5SIlW4Cj7lkUvwpb7hkEtvC1Wvvhi50HhTleTjIBw5cQXuP7aeIc7kK8" alt="">
        </div>
    </div>
    </div>





<!-- 


    <div class="firstheading">
        <div class="container">
        <div class="card" style="width: 100%;">
            <img src="http://clipart-library.com/images/6Tp5rdd6c.jpg" style="float:right; width:40%; height:auto;" class="card-img-top" alt="...">
            <div class="card-body"style="float:left;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
    </div> -->
    </body>
</html>